/* ------------------------------------------------------------- */
/* property
/* ------------------------------------------------------------- */

/* limited */
.limited-property {
  accent-color: red;
}

/* newly */
.newly-property {
  backdrop-filter: blur(5px);
}

/* widely */
.widely-property {
  color: blue;
}

/* ------------------------------------------------------------- */
/* property-value
/* ------------------------------------------------------------- */

/* limited */
.limited-property-value {
  align-items: anchor-center;
}

/* newly */
.newly-property-value {
  clip-path: stroke-box;
}

/* widely */
.widely-property-value {
  position: absolute;
}

/* ------------------------------------------------------------- */
/* function
/* ------------------------------------------------------------- */

@supports (accent-color: auto) {
  /* limited */
  .limited-type {
    width: abs(50% - 20px);
  }

  /* newly */
  .newly-type {
    height: pow(10px, 2);
  }

  /* widely */
  .widely-type::before {
    width: calc(10px + 100px);
  }
}

/* ------------------------------------------------------------- */
/* at-rule
/* ------------------------------------------------------------- */

/* limited */
@view-transition {
  from-view: pageA;
  to-view: pageB;
}

/* newly */
@container (min-width: 600px) {
  .newly-at-rule {
    color: red;
  }
}

/* widely */
@supports (display: flex) {
  .widely-at-rule {
    color: blue;
  }
}

/* ------------------------------------------------------------- */
/* media-condition
/* ------------------------------------------------------------- */

/* limited */
@media (device-height: 800px) {
  .limited-media-condition {
    background: #eee;
  }
}

/* newly */
@media (color-gamut: srgb) {
  .newly-media-condition {
    background: #cfc;
  }
}

/* widely */
@media (hover: hover) {
  .widely-media-condition {
    background: #acf;
  }
}

/* ------------------------------------------------------------- */
/* selector
/* ------------------------------------------------------------- */

/* limited */
.limited-selector:active-view-transition {
  background-color: #ddd;
}

/* newly */
.newly-selector:has(.child) {
  border: 1px solid green;
}

/* widely */
.widely-selector::after {
  content: "I'm widely used!";
  color: purple;
}

/* ------------------------------------------------------------- */
/* at-supports
/* ------------------------------------------------------------- */

/* limited */
@supports (accent-color: auto) {
  .limited-at-supports {
    accent-color: red;
  }
}

/* newly */
@supports (backdrop-filter: auto) {
  .newly-at-supports {
    backdrop-filter: auto;
  }
}

/* widely */
@supports (display: flex) {
  .widely-at-supports {
    display: flex;
  }
}

/* nested */
@supports (accent-color: auto) {
  @supports (backdrop-filter: auto) {
    .nested-at-supports {
      accent-color: red;
      backdrop-filter: auto;
    }
  }
}
